#site-content {
	overflow: hidden;
    background: #050A3A;
    color: white;
}
.section-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 120rem;
	width: calc(100% - 4rem);
}

.entry-title {

    height: 105px;
    left: 0%;
    right: 0.52%;
    top: calc(50% - 105px/2);
    /* Heading 1 */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 84px;
    line-height: 105px;

    color: #FFFFFF;
}

.intro-text {
    height: 84px;
    left: 0%;
    right: 37.74%;
    top: calc(50% - 84px/2 + 3px);

    /* p26 */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;

    /* or 162% */

    color: #FFFFFF;
}

.error{
    padding: 12em 5em 12em 5em;
}

#s{
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    width: 70%;
}