body{
	position: relative;
}

.footer-section{
	font-family: $font1;
	background: #050A3A;
	width: 100%;
	position: absolute;
	bottom: 0;
	.cta-text {
		padding-right: 15px;
		display: inline-block;

		h4 {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 2px;
		}

		span {
			color: white;
			font-size: 15px;
		}
	}
}

.copyright-text p {
	margin: 0;
	font-size: 14px;
	color: #ffffff;
}

.footer-menu li {
	display: inline-block;
	margin-left: 20px;
}
  .footer-menu li:hover a{
	color: #ff5e14;
}
  .footer-menu li a {
	font-size: 14px;
	color: #878787;
}

.white-svg {
    filter: brightness(0) invert(1);
}